extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block scripts
  script(type='text/javascript', src='/javascripts/albumes.js')

block content
  input#__data(type='hidden',value=albumsString)
  - for(var i = 0; i < albums.length; i++) {
  - var album = albums[i];
    section.album(num=i)
      div.imgs
        each cover in album.coverImgs
          div
            img(src=album.folder + '/' + cover)
      div.name= album.name
      div.description= album.description
  - }