extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block scripts
  script(type='text/javascript', src='/javascripts/albumes.js')

block content
  input#__data(type='hidden',value=albumsString)
  - for(var i = 0; i < albums.length; i++) {
  - var album = albums[i];
    section.album
      div(class='imgs imgs-#{i}')
        - for(var j = 0; j < 4 && j < album.imgs.length; j++) {
          div
            img(src='/images/albums/#{album.name}/#{album.imgs[j]}')
        - }
      div.name #{album.show}
  - }