doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-COMPATIBLE', content='IE=edge')
    meta(name='robots', content='noimageindex, noarchive')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='Pragma', content='no-cache')
    meta(http-equiv='expires', content='0')

    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='/images/ico/logo_76x76.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/images/ico/logo_120x120.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/images/ico/logo_152x152.png')
    link(rel='apple-touch-icon-precomposed', sizes='167x167', href='/images/ico/logo_167x167.png')
    link(rel='apple-touch-icon-precomposed', sizes='180x180', href='/images/ico/logo_180x180.png')

    link(rel='icon', sizes='192x192', href='/images/ico/logo_192x192.png')
    link(rel='shortcut icon', href='/images/ico/favicon.ico')
    link(rel='apple-touch-icon', href='/images/ico/logo_16x16.png')

    link(rel='preload', href='/images/backgrounds/radical.png', as='image')
    link(rel='preload', href='/images/backgrounds/superduke.png', as='image')

    link(rel='canonical', href=domain)

    meta(name='description', content=description)

    meta(property='og:type', content='Web page')
    meta(property='og:image', content='#{domain}/images/logo_150x150.png')
    meta(property='og:title', content=title)
    meta(property='og:description', content=description)
    meta(property='og:url', href=domain)

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    script(type='text/javascript', src='/javascripts/s5-js/s5.js')
    script(type='text/javascript', src='/javascripts/s5-js/s5.icons.js')

  body
    header
      nav.nav-bar
        section.name
          div#logo
          div.namegroup @FriendsNbikes
        section.menu
          div.icono
          nav
            if inicio
              div.menuitem.selected(url='/') Inicio
            else
              div.menuitem(url='/') Inicio
            if about
              div.menuitem.selected(url='/about') Nosotros
            else
              div.menuitem(url='/about') Nosotros
            if events
              div.menuitem.selected(url='/events') Eventos
            else
              div.menuitem(url='/events') Eventos
        section.network
          div.facebook
          div.instagram
    section.container
      block content
    footer
      a(href='/') friendsnbikes.co
      nav
        if inicio
          div.menuitem.selected(url='/') Inicio
        else
          div.menuitem(url='/') Inicio
        if about
          div.menuitem.selected(url='/about') Nosotros
        else
          div.menuitem(url='/about') Nosotros
        if events
          div.menuitem.selected(url='/events') Eventos
        else
          div.menuitem(url='/events') Eventos
      span &copy; #{anio} FriendsNbikes
    script(type='text/javascript', src='/javascripts/index.js')
    block scripts